---
import Logo from "./Logo.astro";
---

<section class="text-xl text-left px-20 max-w-[70ch] text-pretty mx-auto my-24">
    <Logo class="w-16 text-white mb-10 m-auto"/>
    <h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
        Cambios OriSur <br /> Te acerca a los que más quieres
    </h1>
    <p>
        Estamos trabajando cada vez más para ocupar mayor territorio y poder ofrecerles un <strong>mejor servicio</strong> en diferentes tipos de cambio, en diversas monedas del mundo.
    </p>

</section>